<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form th:action="@{/plans/month}" method="post">
    <label>Год:</label>
    <input type="number" name="planYear" required>
    <label>Месяц:</label>
    <input type="number" name="planMonth" required>
    <label>Выберите задачи:</label>
    <div th:each="task : ${allTasks}">
        <input type="checkbox" name="taskIds" th:value="${task.id}" />
        <span th:text="${task.title}"></span>
    </div>
    <button type="submit">Создать план</button>
</form>
</body>
</html>